{% extends 'index.html' %}}
{% load bootstrap4 %}

{% block body %}

    <div style="text-align:center;">
        <h3>My Page</h3>
        <div>
            {% if target_user.profile %}
            <figure><img style="width: 150px; height: 150px; border-radius:50%;"src="{{ target_user.profile.image.url }}" alt=""></figure>
            <h5>{{ target_user.profile.nickname }}</h5>
            <div>{{ target_user.profile.message }}</div>
                {% if target_user == user %}
                <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">Edit Profile</a>
                <div><a href="{% url 'accountapp:update' pk=target_user.pk %}" class="btn btn-primary
                rounded-pill col-3 mt-3">Change Info</a>
                <a href="{% url 'accountapp:delete' pk=target_user.pk %}" ><input class="btn btn-secondary
                rounded-pill col-2 mt-3" type="button"value="QUIT"></a></div>
                {% endif %}
            {% else %}
            <div style="width: 400px; margin: 0 auto; font-size:2.5rem;">
                <h3 style="color: red;"><em>Create Profile Please.</em></h3>
            </div>
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">Create Profile</a>

                {% endif %}

            {% endif %}
            <hr>
            <div>
                {% include 'snippets/list_Fragment.html' with article_list=object_list %}
            </div>
        </div>



    </div>

{% endblock %}