{% extends 'index.html' %}}
{% load bootstrap4 %}

{% block body %}
    <h3 style="text-align:center;">Delete Comment</h3>
    <div style="width: 400px; margin: 2rem auto;">
        <div class="mb-3">
            <h4>Delete Article : {{target_comment.content }}</h4>
            <p style="font-size: 2rem;" > {{target_comment.writer}}, Are You Sure to delete this? </p>
        </div>
        <form style="text-align:center;" action="{% url 'commentapp:delete' pk=target_comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger rounded-pill col-6 mt-3" value="Delete">
        </form>
    </div>
{% endblock %}