{% extends 'index.html' %}}
{% load bootstrap4 %}

{% block body %}
    <div style="text-align:center;">
        <div>
            <h2>{{ target_project.title }}</h2>
            <figure><img style="width: 100%; border-radius:1rem;"src="{{ target_project.image.url }}" alt=""></figure>
            <div>{{ target_project.description }}</div>
        </div>
    <hr>
        {% if not subscription %}
            <div><a class="btn btn-dark rounded-pill col-3 mt-3" href="{% url 'subscriptionapp:subscribe' %}?project_pk={{target_project.pk}}">Subscribe</a></div>
        {% else %}
            <div><a class="btn btn-dark rounded-pill col-3 mt-3" href="{% url 'subscriptionapp:subscribe' %}?project_pk={{target_project.pk}}">Unsubscribe</a></div>
        {% endif %}
        <div>
             {% include 'snippets/list_Fragment.html' with article_list=object_list %}
        </div>
        </div>
{% endblock %}

