 .header {
    text-align : center;
    padding-top: 2rem;
    height: 120px;
 }

 .header-logo{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 3rem;
    margin-bottom: -0.3rem;

 }

  .footer {
    text-align : center;
    height: 150px;
 }

 .footer-logo{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 2rem;
    margin-top: 0.8rem;
 }

.article_title{
    font-family: 'Baloo Tammudu 2', cursive;
}

a {
 text-decoration : none;
 color: #555;
}

span{
    font-family: 'Baloo Tammudu 2', cursive;
}