<header class="header">
    <h1 class="header-logo">BarcodeStation</h1>
    <span>span1</span>
    <span>span2</span>
    {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{request.path}}"><span>Login</span></a>
        <a href="{% url 'accountapp:create' %}"><span>SignUp</span></a>
    {% else %}
        <a href="{% url 'accountapp:logout' %}?next={{request.path}}"><span>Logout</span></a>
        <a href="{% url 'accountapp:detail' pk=user.pk %}"><span>MyPage</span></a>
    {% endif %}

</header>